{{define "BUILDSLIST"}}
  {{range .reposToShow}}
    <a href="/#" onclick="return buildBtnOc(this)" data-fn="{{.Fullname}}" data-id="{{.ID}}">{{.Fullname}}</a>
    <br>
  {{end}}
{{end}}
{{template "BUILDSLIST" .}}