<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Hugo Pages</title>

<link rel="stylesheet" type="text/css" href="/public/normalize.css">
<link rel="stylesheet" type="text/css" href="/public/skeleton.css">
<link rel="stylesheet" type="text/css" href="/public/style.css">
</head>

<body>
	<div class="navbar-spacer"></div>
	<nav class="navbar">
		 <div class="container">
			 <ul class="navbar-list">
				 <li class="navbar-item navbar-logo"><a class="navbar-link" href="/"><strong>Hugo Pages</strong></a></li>
			   {{if .user}}
				 <li class="navbar-item"><a class="navbar-link" href="/#logout">Logout</a></li>
				 <li class="navbar-item navbar-separator">|</li>
				 <li class="navbar-item"><a class="navbar-link" href="/repos">Add Project</a></li>
				 {{else}}
				 <li class="navbar-item"><a class="navbar-link" href="/login">Login With Github</a></li>
				 {{end}}
			 </ul>
		 </div>
	</nav>
	<div id="page-content">
		{{if eq .content "ROOT"}}
			{{template "ROOT" .}}
		{{else if eq .content "REPOS"}}
			{{template "REPOS" .}}
		{{else}}
			Thats an error
		{{end}}
	</div>
	<div id="footer">
		By <a href="http://www.arunaherath.com/">Aruna Herath</a>
	</div>
</body>
</html>
