{{define "REPOS"}}

<div class="container">
  <div class="row">
    <div id="filters" class="four columns">
      <div style="visibility: hidden;">filters</div>
      <div id="filters-container">
        <form>
          <label for="contains">Containing:</label>
          <input class="u-full-width" type="text" id="contains" oninput="_onInputEvent(this)">
        </form>
      </div>
    </div>
    <div id="repo-list" class="eight columns">
      <div class="u-centered-table">
        <table id="projects">
          {{template "REPOLIST" .}}
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  function oc(btn) {
    /* on click handler for repos not added */
    btn.classList.add('loading')
    btn.innerHTML = "";

    var callback = function(req) {
      if(req.status == 200){
        btn.innerHTML = "Edit";
        btn.onclick = ocadded.bind(btn);
      }
      else {
        alert('Could not add')
      }
      btn.classList.remove('loading')
    }

    makeRequest("/add?id=" + btn.dataset.id + '&fullname=' + btn.dataset.fn, "POST", callback);
  }

  function ocadded() {
    /* on click handler for repos already added */
    window.location.href = "/edit/"+this.dataset.id+"/"+this.dataset.fn;
  }

  function makeRequest(url, method, callback) {
    var req = new XMLHttpRequest();

    req.onreadystatechange = function() {
      if (req.readyState == XMLHttpRequest.DONE ) {
        callback(req);
      }
    }

    req.open(method, url);
    req.send();
  }

  /* table filter */
  var _input = document.getElementById("contains");

  function _onInputEvent(e) {
    var table = document.getElementById("projects");
    Array.prototype.forEach.call(table.tBodies, function(tbody) {
      Array.prototype.forEach.call(tbody.rows, _filter);
    });
  }

  function _filter(row) {
    var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
    row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
  }

  var input = document.getElementById("contains");
  input.oninput = _onInputEvent;

  {{if eq .areMore true}}

  /* more repos are left to be brought */
  getRepos(2);

  function getRepos(page){
    makeRequest("/only-repos?page=" + page, "GET", function(req){
      var nextPage = req.getResponseHeader("HG-PG-Next-Page");
      htmldata = req.response;
      var element = document.getElementById("projects").getElementsByTagName("tbody")[0]
      var tempel = document.createElement("tbody");
      tempel.innerHTML = htmldata;
      Array.prototype.forEach.call(tempel.rows, _filter)

      while(tempel.firstChild) {
        element.appendChild(tempel.firstChild);
      }
      if(nextPage !== "0"){
        getRepos(nextPage);
      }
    })
  }
  {{end}}
</script>
{{end}}