{{define "REPOS"}}

<div class="container">
  <div class="row">
    <div id="repo-list" class="seven columns">
      <div class="u-centered-table">
        <table id="projects">
          {{template "REPOLIST" .}}
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  /* Click handlers for `Add` buttons */
  var repoButtons = document.querySelectorAll(".repo-btn")
  for (i = 0; i < repoButtons.length; ++i) {
    var repo = repoButtons[i].dataset.repofullname
    repoButtons[i].onclick = createFunc(repo, repoButtons[i])
  }
  function createFunc(repo, btn) {
    return function() {
      inthis = this;
      console.log(this);
      var callback = function(req) {
        if(status == 200){
          btn.innerHTML = "Remove";
        }
        else {
          alert('Could not add')
        }
      }

      makeRequest("/add/" + repo, "POST", callback);
    };
  }

  function makeRequest(url, method, callback) {
    var req = new XMLHttpRequest();

    req.onreadystatechange = function() {
      if (req.readyState == XMLHttpRequest.DONE ) {
        callback(req);
      }
    }

    req.open(method, url);
    req.send();
  }

  {{if eq .areMore true}}
  /* more repos are left to be brought */
  getRepos(2);

  function getRepos(page){
    makeRequest("/only-repos?page=" + page, "GET", function(req){
      var nextPage = req.getResponseHeader("HG-PG-Next-Page");
      htmldata = req.response;
      var element = document.getElementById("projects").getElementsByTagName("tbody")[0]
      var tempel = document.createElement("tbody");
      tempel.innerHTML = htmldata;
      var repoButtons = tempel.querySelectorAll(".repo-btn")
      for (i = 0; i < repoButtons.length; ++i) {
        var repo = repoButtons[i].dataset.repofullname
        repoButtons[i].onclick = createFunc(repo, repoButtons[i])
      }

      while(tempel.firstChild) {
          //console.log(tempel.firstChild);
          element.appendChild(tempel.firstChild);
      }
      if(nextPage !== "0"){
        getRepos(nextPage);
      }
    })
  }
  {{end}}
</script>
{{end}}